/* ProjectCard.css */

.project-card {
    width: 350px;
    height: 200px;
    perspective: 1000px;
  }
  
  .card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.3s;
  }
  
  .project-card.flipped .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .card-front {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
  }
  
  /* Additional styles for text, colors, etc. */
  p {
    margin: 0;
    /* text-align: justify; Justify the text */
    
  }
  