
.header {
    background-color: #003049 !important; 
    color: #fdf0d5 !important;
    text-align: center !important; 
    
  }

.font_header{
    font: 50px Source Code Pro  !important;
}

/* Add a media query for smaller screens (e.g., mobile devices) */
@media only screen and (max-width: 600px) {
  .font_header {
      font-size: 20px !important; /* Adjust font size for smaller screens */
  }

  .nav-link {
      margin: 10px; /* Adjust margin for better spacing on smaller screens */
  }
}

a {
  text-decoration: none;
  margin-left: 30px;
}

a, a:visited {
  color: inherit;
}
.nav-link {
  text-decoration: none;
  color: #fdf0d5;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.nav-link:hover {
  color: rgb(235, 60, 60); /* Brightened color on hover */
  transition: color 0.3s ease; /* Slower transition duration on hover */
}
